# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
\*result\*
assets/emacs/elpaca
assets/emacs/eln-cache
assets/emacs/auto-save-list
secrets/ssh
secrets/gpg
assets/emacs/*init.el
